<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Admission Chance Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Admission Chance Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="/predict" method="POST">
                <input class="form-input" type="number" name="gre_score" id="gre_score" placeholder="GRE Score"><br>
                <input class="form-input" type="number" name="toefl_score" id="toefl_score" placeholder="TOEFL Score"><br>
                <input class="form-input" type="number" name="university_rating" id="university_rating" placeholder="University Rating"><br>
                <input class="form-input" type="number" name="sop" id="sop" placeholder="SOP Score"><br>
                <input class="form-input" type="number" name="lor" id="lor" placeholder="LOR Score"><br>
                <input class="form-input" type="number" name="cgpa" id="cgpa"placeholder="CGPA" step="any"><br>
                <label for="research">Research </label>
                <select name="research" id="research">
                    <option value="yes">Yes</option>
                    <option value="no">No</option></select><br>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/eshnaairon/Admission_Chance_predictor"><i class="fab fa-github fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Eshna Airon.</p>
       </div>

    </body>
</html>